{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    <!-- Hero Area Start -->
    {% include 'hero.html' %}
    <!-- Hero Area End -->
    <!--  Coloquei na parte de hero      -->

    <!-- Services item -->
    {% include 'servicos.html' %}
    <!-- Services Section End -->

    <!-- About Section start -->
    {% include 'about.html' %}
    <!-- About Section End -->

    <!-- Features Section Start -->
    {% include 'recursos.html' %}
    <!-- Features Section End -->

    <!-- Team Section Start -->
     {% include 'equipe.html' %}
    <!-- Team Section End -->

    <!-- Pricing section Start -->
     {% include 'precos.html' %}
    <!-- Pricing Table Section End -->

    <!-- Testimonial Section Start -->
    {% include 'cliente.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
    {% include 'call.html' %}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
    {% include 'contato.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->

{% endblock %}
