{% load bootstrap4 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escrever</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="mt-2">Escrever</h1>
                <hr class="mt-0 mb-4">

                {% bootstrap_messages %}

                {% block content %}
                    <form action="{% url 'escrever' %}" method="post" class="form" autocomplete="off">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-6">
                                {{ form.nome|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        {{ form.assunto|as_crispy_field }}
                        {{ form.mensagem|as_crispy_field }}

<!--                        {{ form|crispy }}-->
<!--                        -->
<!--                        {% crispy form %}-->

                        {% buttons %}
                            <button type="submit" class="btn btn-success">Enviar Mensagem</button>
                        {% endbuttons %}
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>
