{% load bootstrap4 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="mt-2">Produto</h1>
                <hr class="mt-0 mb-4">

                {% bootstrap_messages %}

                {% block content %}

                    <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ form.nome|as_crispy_field }}

                        <div class="row">

                            <div class="col-6">
                                {{ form.preco|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ form.estoque|as_crispy_field }}
                            </div>

                        </div>

                        {{ form.image|as_crispy_field }}

                        {% buttons %}
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                            <a class="btn btn-success" href="{% url 'indexcrispy' %}">Voltar</a>
                        {% endbuttons %}
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>