{% extends "model-page.html" %}

{% block content %}
    <h2>Cadastro</h2>

    <form action="submit" method="POST">{% csrf_token %}
        <br>
        <label>Nome estoque</label>
        <input type="number" name="id_produto" value="{{ estoque.id }}" hidden>
        <br>
        <input type="text" size="40" name="nome" value="{{ estoque.nome }}">
        <br><br>
        <label>Nota</label>
        <br>
        <textarea name="nota" rows="5" cols="41" >{{ estoque.nota }}</textarea>
        <br><br>
        <label>Tempo de validade</label>
        <br>
        <input class="numeric" type="text" size="13" name="tempo_validade" value="{{ estoque.tempo_validade }}">
        {% if estoque.tempo_validade is None%}
            <label>mes(es)</label>
        {% elif estoque.tempo_validade <= 1%}
            <label>mes</label>
        {% else %}
            <label>meses</label>
        {% endif %}
        <br><br><br>

        <button class="button button5" type="submit">Salvar</button>
        <a href="/estoque/">
            <button class="button button5" type="button">Cancelar</button>
        </a>
    </form>
{% endblock %}